{% trans_default_domain 'FOSUserBundle' %}

<div class="form-group">
<form class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-10">
      {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
          {{ form_widget(form) }}
          <div>
              <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
          </div>
      {{ form_end(form) }}
    </div>
  </div>
</form>
